name: "test mapping-creator"

on:
  push:
    branches:
      - 'main'
    paths:
      - 'mapping-creator/**/*'
  pull_request:
    branches:
      - '**'
    paths:
      - 'mapping-creator/**/*'

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: mapping-creator
        working-directory: mapping-creator
        run: |
          cargo test
        shell: bash
